<style>
  .nc-section {
    background: none !important;
  }

  #instagram-feed > .nc-title {
    display: none;
  }

  .nc-subtitle {
    display: none !important;
  }

  #seemore {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #seemore a {
    padding: 5px;
  }
</style>
<script
  type="module"
  src="https://unpkg.com/@nocodeapi/embed-instagram-feed@latest/embed-instagram-feed.js?module"
></script>

<div id="seemore">
  <div>
    <a href="https://www.instagram.com/chaoarchive/" target="_blank"
      ><i class="fa fa-instagram"> chaoarchive</i></a
    >
  </div>
</div>

<div id="instagram-feed">
  <embed-instagram-feed
    url="https://v1.nocodeapi.com/cdhu/instagram/WlMXCKwShAPxgKMy"
  ></embed-instagram-feed>
</div>
